.classButton {
  font-family: arial;
  color: #fffcfc !important;
  font-size: 30px;
  text-shadow: 1px 1px 0px #259af5;
  box-shadow: 1px 1px 1px #259af5;
  padding: 14px 25px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #c45b09;
  background: #f58025;
  /* background: linear-gradient(top, #f68e3d, #f4720d);
  background: -ms-linear-gradient(top, #f68e3d, #f4720d);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f68e3d),
    to(#f4720d)
  );
  background: -moz-linear-gradient(top, #f68e3d, #f4720d); */
}
.classButton:hover {
  color: #259af5 !important;
  background: #f58025;
  background: linear-gradient(top, #f68e3d, #f4720d);
  background: -ms-linear-gradient(top, #f68e3d, #f4720d);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f68e3d),
    to(#f4720d)
  );
  background: -moz-linear-gradient(top, #f68e3d, #f4720d);
}
