.classButton {
  font-family: arial;
  color: #fffcfc !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #259af5;
  box-shadow: 1px 1px 1px #259af5;
  padding: 14px 25px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #c45b09;
  background: orange;
}
.classButton:hover {
  color: #259af5 !important;
  background: #f58025;
}
