.mapPage {
  display: grid;
  grid-template-columns: 5% 1fr 5% 1fr 1fr 5%;
  grid-template-rows: 14% 20% 5% 10% 5% 50% 5%;
  overflow: auto;
  min-height: 95vh;
  background: url(../FrontPage/images/green-tree.png);
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-color: #e6f2e3;
  padding-bottom: 1em;
  font-family: var(--primary-font);
  color: #54565b;
}

.mapGrid {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 6;
  border: solid #5ab79c;
}

.tableGrid {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 6 / 6;
}

.contentGrid1 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  text-align: center;
  border: solid #5ab79c;
  border-width: 2px;
  background-color: whitesmoke;
  opacity: 0.95;
  margin: 1em;
}

.contentGrid2 {
  display: grid;
  grid-column: 4 / 6;
  grid-row: 4 / 6;
  padding: 1em;
  text-align: center;
  border: solid #5ab79c;
  border-width: 2px;
  background-color: whitesmoke;
  opacity: 0.95;
  margin: 1em;
}

.titleGrid1 {
  display: grid;
  text-align: center;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  font-size: 50px;
  padding: 0.5em;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-width: 2px;
  color: #000000;
  font-family: var(--primary-font);
  border: solid #5ab79c;
  border-width: 2px;
  background-color: whitesmoke;
  opacity: 0.95;
  margin: 1em;
}

td {
  width: 10%;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

th {
  width: 20%;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

td:hover {
  background-color: #e4931a;
}

.header {
  display: grid;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  background-color: #54565b;
}
