.frontPage {
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 14% 20% 5% 35% 10% 10% 10% 5%;
  overflow: auto;
  min-height: 100vh;
  color: #54565b;
  font-family: var(--primary-font);
  padding: 1em;

  background: url(./images/green-tree.png);
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-color: #e6f2e3;
}

.contentGrid1 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  border: solid #5ab79c;
  border-width: 2px;
  border-radius: 8%;
  background-color: whitesmoke;
  opacity: 0.95;
  margin: 1em;
  font-size: 18px;
  padding-left: 1em;
  padding-right: 1em;
}

.contentGrid2 {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  border: solid #5ab79c;
  border-width: 2px;
  padding: 10px;
  border-radius: 8%;
  background-color: whitesmoke;
  opacity: 0.95;
  margin: 1em;
  font-size: 18px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 4em;
}

.contentGrid3 {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 4 / 7;
  border: solid #5ab79c;
  border-width: 4px;
  padding: 10px;
  border-radius: 8%;
  background-color: whitesmoke;
  justify-items: center;
}

.contentGrid4 {
  display: grid;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  background-color: #54565b;
}

.counterText {
  text-align: center;
  position: relative;
  bottom: 100%;
  font-size: 48px;

  opacity: 0.95;
}

.portalGrid1 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  padding: 10px;
  border-radius: 8%;
}

.portalGrid2 {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  padding: 10px;
  border-radius: 8%;
}

.counterGrid1 {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 5 / 8;
}
