.frontPage {
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 5% 20% 5% 35% 10% 10% 10% 5%;
  overflow: auto;
  min-height: 100vh;
  background-image: linear-gradient(
    0.25turn,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 1em;
}

.contentGrid1 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.contentGrid2 {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.contentGrid3 {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.portalGrid1 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.portalGrid2 {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.counterGrid1 {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 5 / 8;
}
